$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$dark-gray: hsl(227, 10%, 46%);
$gris-oscuro: hsl(0, 0%, 59%);
$fuente: 'Kumbh Sans',
'sans-serif';
body {
    background-color: $dark-cyan;
    font-family: $fuente;
}